{% extends 'myapp/base.html' %}
{% block body %}
<style>
    .card-container {
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .card-container:hover {
        transform: translateY(-5px);
        background-color: #f0f0f0;
    }

    .custom-container {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

    .custom-card-body {
        padding: 20px;
    }

    .note {
    margin-top: 10px;
    font-size: 14px;
    color: #666; /* Adjust color as needed */
    }

    
</style>

<div class="flex justify-between">
    <div class="ml-10 mt-10 font-bold text-xl">Dashboard</div>
    <div class="mr-20 mt-10">
        <a class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md shadow-md" href="{% url 'index' %}">Job List</a>
    </div>
</div>

<!-- <div class="shadow-lg p-10 m-5">
    <div class="text-5xl font-bold"> 318</div>
    <div class="mt-10">Jobs available</div>

</div> -->

<div class="flex">
    <div class="p-5 w-1/3">
        <div class="shadow-lg p-10 flex items-center justify-center card-container">
            <div class="text-4xl font-bold">{{ total_jobs }}</div>
            <div class="ml-2">Total Jobs</div>
            <img src="https://cdn2.iconfinder.com/data/icons/new-year-resolutions/64/resolutions-23-128.png" alt="Total Jobs Icon" class="w-8 h-8 ml-2">
        </div>
    </div>

     <div class="p-5 w-1/3">
        <div class="shadow-lg p-10 flex items-center justify-center card-container">
            <div class="text-4xl font-bold">15</div>
            <div class="ml-2">New Jobs</div>
            <img src="https://cdn3.iconfinder.com/data/icons/snowish/128x128/actions/document-new.png" alt="New Jobs Icon" class="w-8 h-8 ml-2">
        </div>
    </div>

     <div class="p-5 w-1/3">
        <div class="shadow-lg p-10 flex items-center justify-center card-container">
            <div class="text-4xl font-bold">123</div>
            <div class="ml-2">Number of Applications</div>
            <img src="https://cdn4.iconfinder.com/data/icons/folders-114/64/folder-file-document-user-profile-resume-applicant-512.png" alt="Applications Icon" class="w-8 h-8 ml-2">
        </div>
    </div>
</div>

<div class="container custom-container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body custom-card-body">
                    <!-- Render the pie chart -->
                    <div id="pie-chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body custom-card-body">
                    <!-- Render the pie chart -->
                    <div id="barChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container custom-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body custom-card-body">
                    <!-- Render the pie chart -->
                    <div id="pie-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container custom-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body custom-card-body">
                    <!-- Render the pie chart -->
                    <div id="bubbleChart" style="height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container custom-container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body custom-card-body">
                    <!-- Render the word cloud -->
                    <img src="data:image/png;base64,{{ wordcloud_image }}" alt="Word Cloud">
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center"> <!-- Align items vertically -->
            <div class="card">
                <div class="card-body custom-card-body">
                    <!-- Note -->
                    <div class="note text-center">Note: This word cloud represents the most common words found in job descriptions.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Extract data passed from Django view
    var categoryData = {{ category_avg_salary|safe}};

    // Extract categories and average salaries from data
    var categories = categoryData.map(obj => obj.category);
    var avgSalaries = categoryData.map(obj => obj.avg_salary);

    // Define marker size based on average salary
    var markerSizes = avgSalaries.map(salary => Math.sqrt(salary));

    // Create trace for the bubble chart
    var trace = {
        x: categories,
        y: avgSalaries,
        mode: 'markers',
        marker: {
            size: markerSizes, // Size of bubble based on square root of average salary
            color: avgSalaries, // Color based on average salary
            colorscale: 'Viridis', // Choose a colorscale
            showscale: true // Show color scale legend
        },
        type: 'scatter'
    };

    // Define layout options
    var layout = {
        title: 'Average Salary by Category',
        xaxis: { title: 'Category' },
        yaxis: { title: 'Average Salary' }
    };

    // Plot the bubble chart
    Plotly.newPlot('bubbleChart', [trace], layout);
</script>
<script>
// Data from mainloc_avgsalary_list
var data =  {{ mainloc_avgsalary_list|safe }};

// Function to extract state from location
function getState(location) {
    var state = location.trim(); // Remove leading/trailing spaces
    
    // Check if location contains a comma
    var commaIndex = location.indexOf(',');
    if (commaIndex !== -1) {
        state = location.substring(commaIndex + 1).trim(); // Extract state part
    }
    
    return state;
}

// Group locations into states
var stateSalaries = {};
data.forEach(function(item) {
    var state = getState(item.location);
    if (!(state in stateSalaries)) {
        stateSalaries[state] = [];
    }
    stateSalaries[state].push(item.avg_salary);
});

// Calculate average salary for each state
var stateAvgSalaries = {};
for (var state in stateSalaries) {
    var salaries = stateSalaries[state];
    var totalSalary = salaries.reduce(function(acc, curr) {
        return acc + curr;
    }, 0);
    var avgSalary = totalSalary / salaries.length;
    stateAvgSalaries[state] = avgSalary;
}

// Convert stateAvgSalaries object to array of objects
var stateAvgSalariesArray = Object.keys(stateAvgSalaries).map(function(state) {
    return { state: state, avg_salary: stateAvgSalaries[state] };
});

// Sort the array by average salary (high to low)
stateAvgSalariesArray.sort(function(a, b) {
    return b.avg_salary - a.avg_salary;
});

// Extract labels and values for the bar chart
var states = stateAvgSalariesArray.map(function(item) {
    return item.state;
});
var avgSalaries = stateAvgSalariesArray.map(function(item) {
    return item.avg_salary;
});

// Define custom colors for bars
var colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf'];

// Define trace for the bar chart with custom colors
var trace = {
    x: avgSalaries,
    y: states,
    type: 'bar',
    orientation: 'h', // horizontal bar chart
    marker: {
        color: colors.slice(0, states.length), // Assign colors to bars
        line: {
            color: 'rgba(50, 171, 96, 1.0)', // Set custom color for bar outlines
            width: 1 // Set custom width for bar outlines
        }
    }
};

// Define layout options
var layout = {
    title: {
            text: 'Average Salary by State',
            font: {
                size: 20,
                family: 'Arial',
                color: '#333' // Dark gray color
            }
        },
    xaxis: {
        title: 'Average Salary',
        type: 'log', // Logarithmic scale for x-axis
        tickformat: ',.2r' // Format tick labels
    },
    yaxis: {
        title: 'State',
        automargin: true // Automatically adjust margins
    },
    margin: { t: 50, r: 50, b: 100, l: 150 }, // Adjust margins
    plot_bgcolor: '#f7f7f7', // Set plot background color
    paper_bgcolor: '#ffffff' // Set paper background color
};

// Plot the chart
Plotly.newPlot('barChart', [trace], layout);

</script>


<script>
    // Retrieve data passed from the view
    var categories = {{ categories|safe }};
    
    // Extract category names and counts
    var category_names = [];
    var category_counts = [];
    categories.forEach(function(item) {
        category_names.push(item.category);
        category_counts.push(item.count);
    });

    // Create the data trace for the pie chart
    var data = [{
        values: category_counts,
        labels: category_names,
        type: 'pie'
    }];

    // Define layout options for the pie chart
    var layout = {
        title: {
            text: 'Available Job Category',
            font: {
                size: 20,
                family: 'Arial',
                color: '#333' // Dark gray color
            }
        },
    };

    // Plot the pie chart
    Plotly.newPlot('pie-chart', data, layout);

    // Add event listener to category selection element (e.g., dropdown menu)
    document.getElementById('category-select').addEventListener('change', function() {
        var selectedCategory = this.value;

        // Filter data based on selected category
        var filteredData = categories.filter(function(item) {
            return item.category === selectedCategory;
        });

        // Update pie chart data and redraw
        var newData = [{
            values: [filteredData[0].count],
            labels: [filteredData[0].category],
            type: 'pie'
        }];

        Plotly.newPlot('pie-chart', newData, layout);
    });
</script>
<script>
    // Retrieve data passed from the view
    var categories = {{ jobtypes|safe }};
    
    // Extract category names and counts
    var category_names = [];
    var category_counts = [];
    categories.forEach(function(item) {
        category_names.push(item.jobtype);
        category_counts.push(item.count);
    });

    // Create the data trace for the pie chart
    var data = [{
        values: category_counts,
        labels: category_names,
        type: 'pie'
    }];

    // Define layout options for the pie chart
    var layout = {
        title: {
            text: 'Available Job Type',
            font: {
                size: 20,
                family: 'Arial',
                color: '#333' // Dark gray color
            }
        },
        legend: {
            orientation: 'h', // Horizontal legend
            x: 0.5, // Centered horizontally
            y: 1.1, // Slightly below the chart
            bgcolor: 'rgba(255, 255, 255, 0)', // Transparent background
            bordercolor: 'rgba(255, 255, 255, 0)' // Transparent border
        },
        margin: {
            l: 20, // Left margin
            r: 20, // Right margin
            t: 80, // Top margin
            b: 20 // Bottom margin
        },
        paper_bgcolor: '#f9f9f9', // Light gray background
        plot_bgcolor: '#ffffff' // White plot background
    };

    // Plot the pie chart
    Plotly.newPlot('pie-chart1', data, layout);

    // Add event listener to category selection element (e.g., dropdown menu)
    document.getElementById('category-select').addEventListener('change', function() {
        var selectedCategory = this.value;

        // Filter data based on selected category
        var filteredData = categories.filter(function(item) {
            return item.category === selectedCategory;
        });

        // Update pie chart data and redraw
        var newData = [{
            values: [filteredData[0].count],
            labels: [filteredData[0].category],
            type: 'pie'
        }];

        Plotly.newPlot('pie-chart1', newData, layout);
    });
</script>

{% endblock %}